.container {
  width: 100%;
  height: 100vh;
  background-color: rgb(236, 174, 29);
}
.cats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.home > h1 {
  margin: auto;
  color: #fff;
  justify-self: center;
  font-size: 2em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.image {
  height: 10vw;
  width: 10vw;
  margin-left: 16px;
  border-radius: 15%;
}
